@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --yellow: #ECBA0B;
  --mid-gray: #A8A9AB;
  --light-gray: #E7E7E7;
  --white: #FFFFFF;
  --beige: #E3DDD5;
  --black: #000000;
}

body, html {
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  @apply bg-white dark:bg-black text-black dark:text-white transition-colors;
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply font-extrabold text-black dark:text-white;
  }
  
  p {
    @apply font-light text-black dark:text-white;
  }
}

@layer components {
  .btn-primary {
    @apply bg-yellow text-white font-medium px-6 py-2 rounded-lg hover:opacity-90 transition-opacity;
  }
  
  .btn-secondary {
    @apply bg-white dark:bg-mid-gray text-black dark:text-white font-medium px-6 py-2 rounded-lg hover:opacity-90 transition-opacity;
  }
}

